<!DOCTYPE html>
<html>
<head>
  <title>Micropost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/menu' %>
<%= render :partial => 'layouts/sidebar' %>
<%= yield %>
<%= render :partial => 'layouts/rightbar' %>
<%= render :partial => 'layouts/footer' %>
</body>
</html>
